table.number_pad {
border: 1px solid black;
text-align: center;
font-size: 40px;
font-weight: bold;
}

table.number_pad tr { 

}

table.number_pad td { 
	border: 4px solid black;
	width: 70px;
	height: 70px;
}

/*  table grid css starts here      */
table.grid {
border: 10px solid grey;
text-align: center;
font-size: 30px;
font-weight: bold;
color: blue;

}

table.grid tr { 

}

table.grid td { 
	border: 1px solid grey;
	width: 50px;
	height: 50px;
}

.unchanged {
	font-size: 30px;
	color: green;
	font-weight:bold;
}

.focused_cell {
	background: yellow;
}

.start_game_button {
	width: 240px;
	height: 80px;
	font-size: 16px;
	font-weight: bold;
}

.clear_button {
	border: 5px solid black;
	width: 245px;
	height: 70px;
	font-size: 35px;
	font-weight: bold;
}

.td_dark_bg {
	background: #6E6E6E;
}

.td_light_bg {
	background: #D8D8D8;
}

#container {
	width:850px;
	height:750px;
	border: 5px solid grey;
}

#header {
	width:750;
	height:100px;
/*	border: 2px solid grey; */
	font-size:80px;
	margin: 5px;
}


#playingboard {
	width:500px;
	height:500px;
	float: left;
	margin: 5px;
}

#spacer {
	width:20px;
	height:500px;
	float: left;
}

#number_pad_div {
	height:350px;
	width:280px;
	float:left;
}

#anwser_grid2 {
border: 1px solid black;
text-align: center;
font-size: 15px;
font-weight: bold;
}

#anwser_grid2 td { 
	border: 2px solid black;
	width: 22px;
	height: 22px;
	font-size:18px;
}
